.logo-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.logo-carousel-track {
  display: flex;
  animation: scroll 40s linear infinite;
}

.logo-carousel-track:hover {
  animation-play-state: paused;
}

.logo-item {
  display: inline-block;
  margin: 0 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}